.anime-grid--container {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, 7.5em);
}
.anime-grid {
  list-style: none;
  height: 13.5em;
  display: grid;
  place-content: center;
  position: relative;
}
.anime-grid:active,
.anime-grid:hover {
  cursor: pointer;
  background-color: #bfe5fc;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
}

.anime-card {
  background-color: transparent;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  width: fit-content;
}
.anime-card-poster--container {
  position: relative;
  width: fit-content;
}
.anime-card-poster {
  width: 6.5em;
  height: 10em;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
}

.anime-card-add-btn {
  display: grid;
  place-content: center;
  background-color: transparent;
  border: none;
  border-radius: 0 0.5em 0 0.5em;
  position: absolute;
  right: 8px;
  top: 5px;
  -webkit-border-radius: 0 0.5em 0;
  -moz-border-radius: 0 0.5em 0;
  -ms-border-radius: 0 0.5em 0;
  -o-border-radius: 0 0.5em 0;
  z-index: 900;
}
.anime-card-add-btn img {
  height: 2em;
  width: 2em;
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
.anime-card-add-btn:hover img,
.anime-card-add-btn:active img {
  background-color: #bfe5fc;
}

.anime-card-score {
  position: absolute;
  font-size: small;
  width: 3.5em;
  bottom: 7px;
  left: 0em;
  background: linear-gradient(
    to bottom right,
    var(--primary),
    var(--secondary)
  );
  border-radius: 0 1em 1em 0.5em;
  -webkit-border-radius: 0 1em 1em 0.5em;
  -moz-border-radius: 0 1em 1em 0.5em;
  -ms-border-radius: 0 1em 1em 0.5em;
  -o-border-radius: 0 1em 1em 0.5em;
}
.anime-card-score img {
  height: 1em;
  width: 1em;
}
.anime-card-title,
.anime-card-year {
  text-align: left;
  font-size: small;
}
.anime-card-year {
  color: grey;
}
