:root {
  --primary: #52d3d8;
  --secondary: #3887be;
  --tertiary: #38419d;
  --quaternary: #200e3a;
}
.header-container {
  margin-top: 4em;
  position: relative;
  display: grid;
  place-content: center;
}
.header-background {
  height: 70vh;
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
  width: 100vw;
  background: url("../../assets/nobara.jpg") no-repeat center center;
  background-size: cover;
}

.header-content {
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25%;
}

@media screen and (max-width: 600px) {
  .header-content {
    top: 15%;
  }
}

.header-title {
  font-size: 2.5em;
}
.header-subtitle {
  font-size: 1.5em;
}
.header-search {
  padding-right: 5.1em;
  padding-left: 1em;
  margin-top: 1.5em;
  border: none;
  width: 100%;
  height: 3em;
  border-radius: 10em;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  -ms-border-radius: 10em;
  -o-border-radius: 10em;
}

.header-search:focus {
  outline: none;
}
.header-search-button {
  background: linear-gradient(
    to bottom right,
    var(--primary),
    var(--secondary)
  );
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  width: 6em;
  height: 3em;
  position: absolute;
  right: 0;
  bottom: 0;
}
.header-search-button:hover {
  cursor: pointer;
  color: black;
}
.main {
  stop-opacity: 0;
}
.main h1 {
  font-size: 2.5em;
  margin: 30px 30px 0;
}

.page {
  display: flex;
  gap: 1rem;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.page-button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
}
.page-number {
  cursor: pointer;
}
footer{
  background: linear-gradient( to bottom right, var(--primary), var(--secondary) );
  height: 5rem;
  width: 100vw;
  display: grid;
  grid-template-columns: 9rem 2rem;
  place-content: center;
  font-weight: bold;
  color: white;
}