.modal {
  display: block;
  position: fixed;
  z-index: 9999;
  top: 0;
  border: none;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  right: 100rem;
}
.modal-overlay {
  background-color: rgb(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
}
.modal .container {
  position: absolute;
  display: grid;
  grid-template-rows: 3rem 1fr;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background);
  width: 90%;
  height: 90%;
  border: none;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  overflow-y: scroll;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  background-color: var(--background);
  border-radius: 0.5em 0.5em 0 0;
  -webkit-border-radius: 0.5em 0.5em 0 0;
  -moz-border-radius: 0.5em 0.5em 0 0;
  -ms-border-radius: 0.5em 0.5em 0 0;
  -o-border-radius: 0.5em 0.5em 0 0;
  border-bottom: solid 1px rgb(159, 174, 240);
  color: var(--color);
}
.modal-header button {
  border: none;
  margin: 0.5em 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 0 0.5em;
}

.modal-active {
  right: 0;
}
